<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="artifacts.connected.bmw" value="http://artifacts.connected.bmw/artifactory/api/nuget/nuget" />
  </packageSources>
  <packageSourceCredentials>
    <artifacts.connected.bmw>
        <add key="Username" value="%BMWAF_NUGET_USER%" />
        <add key="ClearTextPassword" value="%BMWAF_NUGET_PASS%" />
    </artifacts.connected.bmw>
   </packageSourceCredentials>
</configuration>
